*{
    margin: 0%;
    padding: 0ch;
    
}
nav{
    background-color: rgb(0 0 0 / 72%);
    width: 100vw;
    height: 60px;
} 
.head{
    font-size: 9mm;
    font-family: 'Pattaya', sans-serif;
    display: inline;
    color: aliceblue;
    position: relative;
    left: 46%;
    top: 20%;
    text-shadow: 2px 2px 5px #4ea036;
}
.head2{
    font-size: 4mm;
    font-family: 'Pattaya', sans-serif;
    display: inline;
    color: aliceblue;
    position: relative;
    left: 46%;
    top: 20%;
    text-shadow: 2px 2px 8px #4ea036;
}
p{
    font-family: 'Rock Salt', cursive;
    font-size: 5mm;
    margin: 3mm;
    margin-left: 6mm;
    text-shadow: 2px 2px 8px #4ea036;
}
label{
    padding: 3mm;
    margin: 3mm;
    margin-top: 3mm;
    font-family: 'Gochi Hand', cursive;
    font-size: 6mm;
}
li{
    margin-left: 7mm;
    font-family: 'Gochi Hand', cursive;
    font-size: 6mm;
}
input{
    height: 7mm;
    margin-top: 3mm;
    margin-bottom: 3mm;
    font-family: 'Gochi Hand', cursive;
    font-size: 5mm;
}
#submit{
    padding-right: 1.5mm;
    padding-left:1.5mm ;
    margin-left: 6mm;
    border-radius: 2mm;
}
img{
    position: absolute;
    top: 22vh;
    right: -25%;
    width: 30cm;
    animation: rotate linear  9s infinite;
    z-index: -1;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}