{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Readings</title>
    <link rel="stylesheet" href="{% static 'display.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="head">Chill-Kar</div>
        <div class="head2">(Your Health Companion)</div>
    </nav>
    
    <div>
        {% for data in datas %}
        {% if data.username == name %}

        <div>
        <ul style="list-style-type: none;">
            <li>user Name : {{data.username}}</li>
            
            <li>Email : {{data.Email}}</li>
            
            <li>Phone : {{data.phone}}</li>
            <li>Blood Sugar : {{data.BloodSugar}} mg/dL</li>
            <li>Blood Pressure : {{data.BloodPressureSystolic}}/{{data.BloodPressureDiastolic}} mm/Hg</li>
            <li>Pulse : {{data.Pulse}} beats/minute</li>
            <li>SpO2 : {{data.SpO2}} %</li>
            <li>Fever : {{data.Fever}}</li>
            <li>Cough : {{data.Cough}}</li>
            <li>Headache : {{data.Headache}}</li>
            <li>Travelled recently : {{data.InaCrowdedPlace}}</li>
            <hr>
        </ul>
    </div>
    {% endif %}
     {% endfor %}  
    <div class="bubbles">
            <img src="{%static 'images/CoronaVirus.png'%}" alt="">
            </div>
    </div>
</body>
</html>