{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill-Kar</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="head">Chill-Kar</div>
        <div class="head2">(Your Health Companion)</div>
    </nav>
   
        <p>Enter your details below to know whether you are safe or not !!!</p>
        <form id="post-form" method="POST" action="checkview">
            {% csrf_token %}
            <input type="hidden" name="room_name" value={{room}} id="room_name" width="100px" />
            <input type="hidden" name="username" value={{username}} id="username" width="100px" />
            <input type="submit" value="Chat With Doctor" id="Prescription">
        </form> 
        
        <form action="check" method="POST" >
            {%csrf_token%}
            
            <input type="hidden" name="fname" placeholder="Ex: John" value={{username}} id="fname" required>
            <label for="Email">Email :</label>
            <input type="email" name="Email" placeholder="Ex: John@gmail.com" id="Email" required><br>
            
            <input type="hidden" name="phone" value={{phone}} id="phone" required size="13"><br>
            <label for="BloodSugar">Blood Sugar (mg/dL) :</label>
            <input type="number" name="BloodSugar" id="BloodSugar" required placeholder="Ex: 125mg/dL" ><br>
            <label for="Blood Pressure ">Blood Pressure (Systolic / Diastolic in mmHg) :</label>
            <input type="number" name="BloodPressureSystolic" id="BloodPressureSystolic" required placeholder="120mmHg (Systolic)" >
            <input type="number" name="BloodPressureDiastolic" id="BloodPressureDiastolic" required placeholder="80mmHg (Diastolic)"><br>
            <label for="Pulse">Pulse (Beats/Minute):</label>
            <input type="number" name="Pulse" id="Pulse" required placeholder="Ex: 72 Beats/Min"><br>
            <label for="SpO2">SpO2 (Percent):</label>
            <input type="number" name="SpO2" id="SpO2" required placeholder="90"><br>
            <label for="Tick">Please Tick which is applicable :</label><br>
            <label for="Fever">Fever :</label>
            <input type="checkbox" name="Fever" id="Fever">
            <label for="Cough">Cough :</label>
            <input type="checkbox" name="Cough" id="Cough" >
            <label for="Headache">Headache :</label>
            <input type="checkbox" name="Headache" id="Headache">
            <label for="InaCrowdedPlace">In a Crowded Place :</label>
            <input type="checkbox" name="InaCrowdedPlace" id="InaCrowdedPlace"><br>
        
            <input type="submit" onclick="collect()" value="Check" id="submit">
        </form><br>
        <form action="display.html">
            <input type="hidden" id="username" name="username" value={{username}}>
            <label id="past">Click Past Readings to get your previous recordings :</label>    
            <input type="submit" value="Past Readings" id="details">
        </form>
        <div class="bubbles">
        <img src="{%static 'images/CoronaVirus.png'%}" alt="">
        </div>
    </div>
    <script src="{% static 'homepage.js' %}"></script>
</body>
</html>